.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  height: 3.75rem;
  display: flex;
  align-items: center;
  z-index: 3;

  :global {
    .adm-tab-bar {
      width: 100%;
    }
    .adm-tab-bar-item-title {
      margin-top: 0.4rem;
    }
    .adm-tab-bar-item-active .adm-tab-bar-item-title {
      color: var(--TextColorBlack);
      font-weight: 600;
    }
  }
}
