.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 253px;
  height: 410px;
  overflow: hidden;
  background: url("~@/assets/images/login/card.png") no-repeat 100% 100%;
  background-size: 100% 100%;
  border-radius: 16px;
}
