.baseCard {
  background-color: #fff;
  position: relative;
  border-radius: 0.57rem 0.57rem 0 0;

  .top {
    padding: 0.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.85);
      line-height: 1.7rem;
    }
  }
  .rightFlex {
    display: flex;
  }
}
.content {
  background-color: #fff;
  position: relative;
  margin-bottom: 0.85rem;
  border-radius: 0 0 0.57rem 0.57rem;
}
