/* 手机 */
@media (max-width: 430px) {
  .cardList {
    padding: 0 1rem;
  }
}
/* pc */
@media (min-width: 431px) {
  .container {
    height: calc(100vh - 40px) !important;
    height: calc(var(--vh, 1vh) * 100 - 40px) !important;
    .header,
    .tabsList {
      background: none !important;
      border-bottom: none !important;
    }
    .tabs {
      background-color: var(--thiredBorder) !important;
      cursor: pointer;
    }
    .active {
      background-color: var(--tabColorActive) !important;
      color: var(--tabTextColorActive) !important;
    }

    .searchBar {
      margin-right: 10px;
      background-color: #fff !important;
      border-radius: 12px;
      :global {
        .adm-input-element {
          background-color: #fff !important;
          border-radius: 18px;
        }
        .adm-input-clear {
          background-color: #fff !important;
          position: absolute;
          right: 0px;
          top: 0px;
        }
      }
    }
  }
  .wFull {
    width: auto;
    max-width: 542px;
  }
  .wFull:nth-child(2n) {
    margin-left: 10px;
  }
  .superSpace {
    width: 542px;
  }
  .createSpace {
    position: absolute !important;
    left: 443px !important;
    top: 60px !important;
    bottom: auto !important;
    .button {
      width: 200px !important;
    }
  }
  .vector {
    top: 18px !important;
  }
}

@supports (-webkit-touch-callout: none) {
  .container {
    height: -webkit-fill-available;
  }
}

.container {
  background-color: var(--pageBackground);
  height: 100vh;
  // height: -webkit-fill-available;

  // width: 100%;

  :global {
    .adm-input-clear {
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
  .natification {
    width: 100%;
    .text {
      margin-top: 1rem;
      width: 100%;
      min-height: 52px;
      color: rgba(222, 185, 0, 1);
      background-color: rgba(254, 246, 213, 1);
      border-radius: 10px;
      padding: 6px 12px;
    }
    .vector {
      background: url("../../assets//images//home/Vector.png") no-repeat;
      background-size: 100% 100%;
      display: inline-block;
      width: 12px;
      height: 18px;
      margin: 0 6px -3px;
    }
  }
  .maxWidth {
    display: flex;
    flex-direction: column;
  }

  .searchIcon {
    padding: 0.5rem;
    background-color: var(--sconedBorder);
    border-radius: 50%;
  }
  .tabsList {
    width: 100%;
    display: flex;
    background-color: #fff;
    height: 3.75rem;
    align-items: center;
    flex-shrink: 0;

    .tabs {
      min-width: 5.71rem;
      padding: 0 1.07rem;
      height: 2.14rem;
      border-radius: 1.07rem;
      background: var(--sconedBorder);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      line-height: 2.14rem;
      color: #000;
    }
    .active {
      background-color: var(--tabColorActive);
    }
  }
  .header {
    width: 100%;
    height: 3.14rem;
    border-bottom: 1px solid var(--border);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 0 1rem;
    flex-shrink: 0;
    .ethButton {
      display: flex;
      flex-shrink: 0;
      .headerImg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        border-radius: 50%;
      }
    }
  }
  @supports (-webkit-touch-callout: none) {
    .cardList {
      height: -webkit-fill-available;
    }
  }

  .cardList {
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 110px;
  }
  .createSpace {
    position: fixed;
    left: 50%;
    bottom: 5.25rem;
    transform: translateX(-50%);
    z-index: 11;
  }
  .superSpace {
    margin-top: 1rem;
  }
}
